In [1499]:

import json
import pandas as pd
import difflib as diff
from pandas.io.json import json_normalize

with open('string_assets/filtered_data.json') as f:
    data = json.load(f)

df = json_normalize(data)

df.to_csv('data_analysis.csv')

/tmp/ipykernel_661/785511311.py:9: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df = json_normalize(data)

In [1500]:
user_team = ["Nami", "Ashe", "Ryze", "Nidalee", "Yone"]
enemy_team = ["Blitzcranck", "Aphelios", "Syndra", "Sejuan", "Gnar"]
champion = "Ryze"
_champion = df[df.values == champion]
_win = _champion[_champion.values == True]
_win

,team1.win,team1.composition.champion1,team1.composition.champion1_items,team1.composition.champion2,team1.composition.champion2_items,team1.composition.champion3,team1.composition.champion3_items,team1.composition.champion4,team1.composition.champion4_items,team1.composition.champion5,...,team2.composition.champion6,team2.composition.champion6_items,team2.composition.champion7,team2.composition.champion7_items,team2.composition.champion8,team2.composition.champion8_items,team2.composition.champion9,team2.composition.champion9_items,team2.composition.champion10,team2.composition.champion10_items
0,False,Blitzcrank,"[3190, 2055, 3860, 3076, 3047, 0, 3364]",Kaisa,"[3006, 2031, 6671, 6676, 3123, 3086, 3363]",Ryze,"[3040, 2420, 6656, 3020, 1029, 2055, 3363]",Sejuani,"[6662, 2031, 2055, 3047, 1029, 8001, 3364]",Gangplank,...,Sona,"[3158, 6617, 1052, 3853, 2055, 1004, 3364]",Draven,"[0, 0, 0, 0, 0, 0, 3363]",Kayle,"[3115, 3111, 0, 1055, 1028, 0, 3340]",RekSai,"[3111, 2031, 3814, 1028, 0, 6693, 3364]",Yone,"[2031, 3006, 3086, 1054, 6673, 1018, 3340]"
6,False,Lulu,"[3853, 2065, 2055, 3504, 3114, 3158, 3364]",Aphelios,"[6673, 3006, 3026, 3031, 3085, 6676, 3363]",Ryze,"[3157, 6656, 3110, 3040, 1058, 3020, 3363]",XinZhao,"[6630, 2055, 3026, 3047, 3053, 0, 3364]",Aatrox,...,Bard,"[2065, 3114, 3853, 3117, 3067, 3011, 3364]",Ashe,"[1055, 3006, 3085, 3091, 0, 6673, 3363]",Lucian,"[6671, 6676, 1038, 6695, 6694, 3047, 3363]",Trundle,"[1031, 3053, 6632, 3066, 3075, 3047, 3364]",Teemo,"[4633, 3165, 3157, 1011, 3006, 3115, 3364]"
13,False,Bard,"[3111, 3157, 4005, 3853, 3067, 2055, 3364]",Ezreal,"[3110, 3042, 3140, 3158, 6694, 6632, 3363]",Ryze,"[3040, 6656, 3157, 3158, 3165, 2055, 3363]",Khazix,"[3158, 3140, 1037, 6691, 3814, 6695, 3364]",Viego,...,Leona,"[2055, 3190, 8001, 3857, 1028, 3111, 3364]",Twitch,"[3006, 6671, 6676, 3036, 1037, 1018, 3363]",Pyke,"[3814, 3134, 6333, 3047, 6691, 6695, 3364]",Skarner,"[8001, 3742, 3158, 1011, 3076, 6662, 3364]",Yone,"[3026, 3006, 3031, 6673, 3033, 1031, 3340]"
17,False,Maokai,"[3855, 0, 1057, 1011, 3742, 3009, 3364]",Twitch,"[6676, 6671, 3036, 1038, 0, 3006, 3363]",Yasuo,"[3031, 3006, 6673, 3033, 0, 0, 3340]",Nidalee,"[3165, 3157, 1026, 3041, 4636, 3020, 3364]",Vladimir,...,Pyke,"[3855, 3142, 3133, 3117, 6691, 3179, 3364]",Ashe,"[1055, 3006, 1083, 6673, 3091, 0, 3363]",Ryze,"[2420, 2420, 2420, 2420, 2420, 2420, 3363]",Zac,"[2031, 6662, 8001, 2055, 3158, 1028, 3364]",Fiora,"[3508, 6630, 3077, 3111, 1055, 3133, 3340]"
31,True,Sona,"[2065, 3853, 3158, 3916, 1004, 2055, 3364]",Ezreal,"[1055, 3042, 6632, 3158, 3133, 3035, 3363]",Irelia,"[2420, 0, 3111, 6632, 1031, 3153, 3363]",Viego,"[3111, 6632, 3091, 2055, 1043, 1036, 3364]",Ryze,...,Leona,"[3860, 3190, 0, 3117, 3067, 1011, 3364]",Tristana,"[6672, 3026, 3046, 3031, 1018, 3006, 3363]",Jayce,"[6694, 2033, 3123, 0, 3047, 6692, 3363]",Nidalee,"[4636, 4630, 3157, 1082, 0, 3020, 3364]",Lillia,"[3070, 3157, 3916, 3158, 4633, 4629, 3340]"
40,True,Leona,"[3857, 3190, 2055, 1028, 1029, 3047, 3364]",Kaisa,"[6676, 6671, 3006, 3046, 1055, 0, 3363]",Ryze,"[2031, 6656, 3040, 3020, 4630, 0, 3340]",Viego,"[6632, 2055, 3047, 3153, 1028, 1037, 3364]",MonkeyKing,...,Pyke,"[3179, 3117, 3855, 0, 6691, 3026, 3364]",Samira,"[3047, 6676, 3036, 0, 1055, 6673, 3363]",Garen,"[3006, 3078, 3033, 3742, 1054, 1028, 3363]",Malphite,"[2033, 3047, 6662, 3135, 3108, 0, 3340]",Kindred,"[6672, 3046, 3006, 3036, 3031, 0, 3364]"

In [1501]:
team_1_details = []
team_2_details = []
winer_data = []
for index, row in _win.iterrows():
    team_1_details.append(row["team1.composition.champion1"])
    team_1_details.append(row["team1.composition.champion2"])
    team_1_details.append(row["team1.composition.champion3"])
    team_1_details.append(row["team1.composition.champion4"])
    team_1_details.append(row["team1.composition.champion5"])

    if row['team1.win'] == True and champion in team_1_details:
        winer_data.append(row)
       

    team_2_details.append(row["team2.composition.champion6"])
    team_2_details.append(row["team2.composition.champion7"])
    team_2_details.append(row["team2.composition.champion8"])
    team_2_details.append(row["team2.composition.champion9"])
    team_2_details.append(row["team2.composition.champion10"])
    
    if row['team2.win'] == True and champion in team_2_details:
        winer_data.append(row)
        


win_df = pd.DataFrame(winer_data)
win_df

,team1.win,team1.composition.champion1,team1.composition.champion1_items,team1.composition.champion2,team1.composition.champion2_items,team1.composition.champion3,team1.composition.champion3_items,team1.composition.champion4,team1.composition.champion4_items,team1.composition.champion5,...,team2.composition.champion6,team2.composition.champion6_items,team2.composition.champion7,team2.composition.champion7_items,team2.composition.champion8,team2.composition.champion8_items,team2.composition.champion9,team2.composition.champion9_items,team2.composition.champion10,team2.composition.champion10_items
17,False,Maokai,"[3855, 0, 1057, 1011, 3742, 3009, 3364]",Twitch,"[6676, 6671, 3036, 1038, 0, 3006, 3363]",Yasuo,"[3031, 3006, 6673, 3033, 0, 0, 3340]",Nidalee,"[3165, 3157, 1026, 3041, 4636, 3020, 3364]",Vladimir,...,Pyke,"[3855, 3142, 3133, 3117, 6691, 3179, 3364]",Ashe,"[1055, 3006, 1083, 6673, 3091, 0, 3363]",Ryze,"[2420, 2420, 2420, 2420, 2420, 2420, 3363]",Zac,"[2031, 6662, 8001, 2055, 3158, 1028, 3364]",Fiora,"[3508, 6630, 3077, 3111, 1055, 3133, 3340]"
31,True,Sona,"[2065, 3853, 3158, 3916, 1004, 2055, 3364]",Ezreal,"[1055, 3042, 6632, 3158, 3133, 3035, 3363]",Irelia,"[2420, 0, 3111, 6632, 1031, 3153, 3363]",Viego,"[3111, 6632, 3091, 2055, 1043, 1036, 3364]",Ryze,...,Leona,"[3860, 3190, 0, 3117, 3067, 1011, 3364]",Tristana,"[6672, 3026, 3046, 3031, 1018, 3006, 3363]",Jayce,"[6694, 2033, 3123, 0, 3047, 6692, 3363]",Nidalee,"[4636, 4630, 3157, 1082, 0, 3020, 3364]",Lillia,"[3070, 3157, 3916, 3158, 4633, 4629, 3340]"
40,True,Leona,"[3857, 3190, 2055, 1028, 1029, 3047, 3364]",Kaisa,"[6676, 6671, 3006, 3046, 1055, 0, 3363]",Ryze,"[2031, 6656, 3040, 3020, 4630, 0, 3340]",Viego,"[6632, 2055, 3047, 3153, 1028, 1037, 3364]",MonkeyKing,...,Pyke,"[3179, 3117, 3855, 0, 6691, 3026, 3364]",Samira,"[3047, 6676, 3036, 0, 1055, 6673, 3363]",Garen,"[3006, 3078, 3033, 3742, 1054, 1028, 3363]",Malphite,"[2033, 3047, 6662, 3135, 3108, 0, 3340]",Kindred,"[6672, 3046, 3006, 3036, 3031, 0, 3364]"

In [1502]:
team_1_champions_winer = []
team_1_enemy_champions = []
team_2_champions_winer = []
team_2_enemy_champions = []
winer_items = []

for index, row in win_df.iterrows():
    team_1_champions_winer.append(row["team1.composition.champion1"])
    team_1_champions_winer.append(row["team1.composition.champion2"])
    team_1_champions_winer.append(row["team1.composition.champion3"])
    team_1_champions_winer.append(row["team1.composition.champion4"])
    team_1_champions_winer.append(row["team1.composition.champion5"])

    if row['team1.win'] == True and champion in team_1_champions_winer:
        team_1_champions_winer = []
        team_1_champions_winer.append(row["team1.composition.champion1"])
        team_1_champions_winer.append(row["team1.composition.champion2"])
        team_1_champions_winer.append(row["team1.composition.champion3"])
        team_1_champions_winer.append(row["team1.composition.champion4"])
        team_1_champions_winer.append(row["team1.composition.champion5"])

        team_1_enemy_champions.append(row["team2.composition.champion6"])
        team_1_enemy_champions.append(row["team2.composition.champion7"])
        team_1_enemy_champions.append(row["team2.composition.champion8"])
        team_1_enemy_champions.append(row["team2.composition.champion9"])
        team_1_enemy_champions.append(row["team2.composition.champion10"])
        winer_items.append(team_1_champions_winer)
        winer_items.append(team_1_enemy_champions)
        team_1_champions_winer = []
        team_1_enemy_champions = []
#/////////////////////////////////////////////////////////////////////////////
    team_2_champions_winer.append(row["team2.composition.champion6"])
    team_2_champions_winer.append(row["team2.composition.champion7"])
    team_2_champions_winer.append(row["team2.composition.champion8"])
    team_2_champions_winer.append(row["team2.composition.champion9"])
    team_2_champions_winer.append(row["team2.composition.champion10"])

    if row['team2.win'] == True and champion in team_2_champions_winer:
        team_2_champions_winer = []
        team_2_champions_winer.append(row["team2.composition.champion6"])
        team_2_champions_winer.append(row["team2.composition.champion7"])
        team_2_champions_winer.append(row["team2.composition.champion8"])
        team_2_champions_winer.append(row["team2.composition.champion9"])
        team_2_champions_winer.append(row["team2.composition.champion10"])

        team_2_enemy_champions.append(row["team1.composition.champion1"])
        team_2_enemy_champions.append(row["team1.composition.champion2"])
        team_2_enemy_champions.append(row["team1.composition.champion3"])
        team_2_enemy_champions.append(row["team1.composition.champion4"])
        team_2_enemy_champions.append(row["team1.composition.champion5"])
        winer_items.append(team_2_champions_winer)
        winer_items.append(team_2_enemy_champions)
        team_2_champions_winer = []
        team_2_enemy_champions = []

In [1503]:
# print(winer_items)

In [1504]:
differance_ratio_1 = 0
differance_ratio_2 = 0
final_differance =0
for i in range(0, len(winer_items)):
    if i % 2 == 0:
        s1 = winer_items[i]
        s2 = user_team
        sm = diff.SequenceMatcher(None, s1, s2)
        differance_ratio_1 += sm.ratio()
    if i % 2 != 0:
        s1 = winer_items[i]
        s2 = enemy_team
        sm = diff.SequenceMatcher(None, s1, s2)
    differance_ratio_2 += sm.ratio()
final_differance = format((((differance_ratio_1/4) + (differance_ratio_2/4))/2), ".2f")
# print(final_differance)

In [1505]:
differance_ratio_1 = 0
differance_ratio_2 = 0
result_data = []
for i in range(len(winer_items)-1):
    s1 = winer_items[i]
    s2 = user_team
    s3 = enemy_team
    if i % 2 == 0:
        sm = diff.SequenceMatcher(None, s1, s2, s3)
        differance_ratio_1 += sm.ratio()
        if differance_ratio_1 > float(final_differance):
            result_data.insert(i, f'winer_team: {winer_items[i]}')
    if i % 2 != 0:
        sm = diff.SequenceMatcher(None, s1, s2, s3)
        differance_ratio_2 += sm.ratio()
        if differance_ratio_2 < float(final_differance):
            result_data.insert(i+1, f'loser_team: {winer_items[i]}')
    
# print(result_data)
counter = 1
for i in range(len(result_data)-1):
    print(f"@ suggestion number {counter}  ==>",
          result_data[i], " $~/\~$ ", result_data[i+1])
    
    counter += 1

@ suggestion number 1  ==> winer_team: ['Pyke', 'Ashe', 'Ryze', 'Zac', 'Fiora']  $~/\~$  winer_team: ['Sona', 'Ezreal', 'Irelia', 'Viego', 'Ryze']
@ suggestion number 2  ==> winer_team: ['Sona', 'Ezreal', 'Irelia', 'Viego', 'Ryze']  $~/\~$  winer_team: ['Leona', 'Kaisa', 'Ryze', 'Viego', 'MonkeyKing']