In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize
import difflib

In [2]:


with open('string_assets/filtered_data.json') as f:
    data = json.load(f)

df = json_normalize(data)

df.to_csv('string_assets/match_data_analysis.csv', index=False)

/tmp/ipykernel_16263/1441427072.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df = json_normalize(data)

In [3]:
# champion["team1.win"]
# champion = champion[champion.values == True]
# team1=df[df[df.values] == True & df[df.values] == "Yone"]
# team1
# df['champion'] = df.col1.eq(df.col1.shift())
# df["ddd"] = champion.col1.eq(champion.col1.shift())


# champion=df[df.values  == "Yone"]
# champion
# for i in champion.columns:
#     newDf = champion.loc[lambda champion: champion[i] == "Yone"]
#     if(not newDf.empty):
        # if "team1" in i :
            # print(i) 
    # print(newDf['team1.win'].where(newDf[i] == 'Nami'))
    # newDf['team1.win'].where(newDf[i] == 'Nami')
        # if newDf.loc[newDf.i == "Nami" , "team1.win"] :
        #     print("yes")
# for index, row in champion.iterrows():
    # print(row['team1.win'], row['team2.win'])

In [4]:
champion=df[df.values  == "Yone"]
champion

# for i in champion.columns:
#     newDf = champion.loc[lambda champion: champion[i] == "Yone"]
#     cahmp_col = i
#     if(not newDf.empty):
#         if "team1" in i :
#             print("yes") 

# for index, row in champion.iterrows():
#     print(row['team1.win'], row['team2.win'])

,team1.win,team1.composition.champion1,team1.composition.champion1_items,team1.composition.champion2,team1.composition.champion2_items,team1.composition.champion3,team1.composition.champion3_items,team1.composition.champion4,team1.composition.champion4_items,team1.composition.champion5,...,team2.composition.champion6,team2.composition.champion6_items,team2.composition.champion7,team2.composition.champion7_items,team2.composition.champion8,team2.composition.champion8_items,team2.composition.champion9,team2.composition.champion9_items,team2.composition.champion10,team2.composition.champion10_items
0,False,Blitzcrank,"[3190, 2055, 3860, 3076, 3047, 0, 3364]",Kaisa,"[3006, 2031, 6671, 6676, 3123, 3086, 3363]",Ryze,"[3040, 2420, 6656, 3020, 1029, 2055, 3363]",Sejuani,"[6662, 2031, 2055, 3047, 1029, 8001, 3364]",Gangplank,...,Sona,"[3158, 6617, 1052, 3853, 2055, 1004, 3364]",Draven,"[0, 0, 0, 0, 0, 0, 3363]",Kayle,"[3115, 3111, 0, 1055, 1028, 0, 3340]",RekSai,"[3111, 2031, 3814, 1028, 0, 6693, 3364]",Yone,"[2031, 3006, 3086, 1054, 6673, 1018, 3340]"
13,False,Bard,"[3111, 3157, 4005, 3853, 3067, 2055, 3364]",Ezreal,"[3110, 3042, 3140, 3158, 6694, 6632, 3363]",Ryze,"[3040, 6656, 3157, 3158, 3165, 2055, 3363]",Khazix,"[3158, 3140, 1037, 6691, 3814, 6695, 3364]",Viego,...,Leona,"[2055, 3190, 8001, 3857, 1028, 3111, 3364]",Twitch,"[3006, 6671, 6676, 3036, 1037, 1018, 3363]",Pyke,"[3814, 3134, 6333, 3047, 6691, 6695, 3364]",Skarner,"[8001, 3742, 3158, 1011, 3076, 6662, 3364]",Yone,"[3026, 3006, 3031, 6673, 3033, 1031, 3340]"
18,False,Brand,"[1026, 6653, 3853, 4637, 3020, 3916, 3364]",Twitch,"[6676, 6671, 2420, 3031, 3036, 3006, 3363]",Leblanc,"[6655, 0, 3041, 3089, 3135, 3020, 3364]",Sejuani,"[3083, 3110, 0, 3158, 6662, 3075, 3364]",Camille,...,Blitzcrank,"[3860, 2065, 3109, 4643, 3107, 3009, 3364]",Ezreal,"[1029, 3042, 6694, 3074, 6632, 3158, 3363]",Yone,"[3091, 6673, 3111, 3031, 3082, 1029, 3363]",Trundle,"[6632, 3748, 3211, 0, 3111, 3083, 3364]",Pantheon,"[6630, 2421, 3053, 3111, 3153, 1029, 3363]"
30,True,Nami,"[3851, 6617, 3070, 2422, 0, 0, 3364]",Ezreal,"[1055, 6632, 3070, 3133, 3158, 0, 3340]",Syndra,"[1056, 3158, 3070, 1026, 3802, 0, 3340]",Nidalee,"[3145, 3020, 1028, 1026, 0, 0, 3364]",Yone,...,Karma,"[3158, 2065, 3851, 2055, 2031, 3916, 3364]",KogMaw,"[1055, 3006, 3091, 3086, 1042, 1042, 3340]",Ekko,"[3111, 2033, 1082, 3152, 3057, 1052, 3340]",Volibear,"[0, 3111, 1042, 1042, 6632, 1026, 3364]",Camille,"[1055, 1083, 2031, 3078, 1036, 2422, 3340]"

### Final

In [12]:
champ_col = ''
df_for_winners = pd.DataFrame()
for i in champion.columns:
    newDf = champion.loc[lambda champion: champion[i] == "Yone"]
   
    if(not newDf.empty):
        champ_col=i 
        for (j,row) in  newDf.iterrows(): 
                if "team1" in champ_col and row['team1.win'] :
                    df_for_winners = df_for_winners.append(row, ignore_index=True)
                   
                    
                if "team2" in champ_col and row['team2.win'] :
                    df_for_winners = df_for_winners.append(row, ignore_index=True)
                 

df_for_winners

Empty DataFrame
Columns: [team1.win, team1.composition.champion1, team1.composition.champion1_items, team1.composition.champion2, team1.composition.champion2_items, team1.composition.champion3, team1.composition.champion3_items, team1.composition.champion4, team1.composition.champion4_items, team1.composition.champion5, team1.composition.champion5_items, team2.win, team2.composition.champion6, team2.composition.champion6_items, team2.composition.champion7, team2.composition.champion7_items, team2.composition.champion8, team2.composition.champion8_items, team2.composition.champion9, team2.composition.champion9_items, team2.composition.champion10, team2.composition.champion10_items]
Index: []

[0 rows x 22 columns]

In [6]:
list1 = ["Nami" ,"Ezreal" ,"Syndra","Nidalee","Yone"]
list2 = ["Karma" ,"Nami" ,"Ekko","Ezreal","Camille"]
sm=difflib.SequenceMatcher(None,list1,list2)
sm.ratio()

0.4

In [17]:
for row in df_for_winners.itertuples():
    print (row)

Pandas(Index=0, _1=1.0, _2='Nami', _3=[3851, 6617, 3070, 2422, 0, 0, 3364], _4='Ezreal', _5=[1055, 6632, 3070, 3133, 3158, 0, 3340], _6='Syndra', _7=[1056, 3158, 3070, 1026, 3802, 0, 3340], _8='Nidalee', _9=[3145, 3020, 1028, 1026, 0, 0, 3364], _10='Yone', _11=[1054, 2031, 1018, 6670, 3006, 0, 3340], _12=0.0, _13='Karma', _14=[3158, 2065, 3851, 2055, 2031, 3916, 3364], _15='KogMaw', _16=[1055, 3006, 3091, 3086, 1042, 1042, 3340], _17='Ekko', _18=[3111, 2033, 1082, 3152, 3057, 1052, 3340], _19='Volibear', _20=[0, 3111, 1042, 1042, 6632, 1026, 3364], _21='Camille', _22=[1055, 1083, 2031, 3078, 1036, 2422, 3340])
Pandas(Index=1, _1=False, _2='Brand', _3=[1026, 6653, 3853, 4637, 3020, 3916, 3364], _4='Twitch', _5=[6676, 6671, 2420, 3031, 3036, 3006, 3363], _6='Leblanc', _7=[6655, 0, 3041, 3089, 3135, 3020, 3364], _8='Sejuani', _9=[3083, 3110, 0, 3158, 6662, 3075, 3364], _10='Camille', _11=[3748, 3026, 3053, 6632, 3047, 3082, 3340], _12=True, _13='Blitzcrank', _14=[3860, 2065, 3109, 4643, 3107, 3009, 3364], _15='Ezreal', _16=[1029, 3042, 6694, 3074, 6632, 3158, 3363], _17='Yone', _18=[3091, 6673, 3111, 3031, 3082, 1029, 3363], _19='Trundle', _20=[6632, 3748, 3211, 0, 3111, 3083, 3364], _21='Pantheon', _22=[6630, 2421, 3053, 3111, 3153, 1029, 3363])
Pandas(Index=2, _1=False, _2='Blitzcrank', _3=[3190, 2055, 3860, 3076, 3047, 0, 3364], _4='Kaisa', _5=[3006, 2031, 6671, 6676, 3123, 3086, 3363], _6='Ryze', _7=[3040, 2420, 6656, 3020, 1029, 2055, 3363], _8='Sejuani', _9=[6662, 2031, 2055, 3047, 1029, 8001, 3364], _10='Gangplank', _11=[2033, 3078, 3047, 3123, 6695, 1028, 3340], _12=True, _13='Sona', _14=[3158, 6617, 1052, 3853, 2055, 1004, 3364], _15='Draven', _16=[0, 0, 0, 0, 0, 0, 3363], _17='Kayle', _18=[3115, 3111, 0, 1055, 1028, 0, 3340], _19='RekSai', _20=[3111, 2031, 3814, 1028, 0, 6693, 3364], _21='Yone', _22=[2031, 3006, 3086, 1054, 6673, 1018, 3340])
Pandas(Index=3, _1=False, _2='Bard', _3=[3111, 3157, 4005, 3853, 3067, 2055, 3364], _4='Ezreal', _5=[3110, 3042, 3140, 3158, 6694, 6632, 3363], _6='Ryze', _7=[3040, 6656, 3157, 3158, 3165, 2055, 3363], _8='Khazix', _9=[3158, 3140, 1037, 6691, 3814, 6695, 3364], _10='Viego', _11=[3153, 6632, 2420, 1038, 3053, 3047, 3364], _12=True, _13='Leona', _14=[2055, 3190, 8001, 3857, 1028, 3111, 3364], _15='Twitch', _16=[3006, 6671, 6676, 3036, 1037, 1018, 3363], _17='Pyke', _18=[3814, 3134, 6333, 3047, 6691, 6695, 3364], _19='Skarner', _20=[8001, 3742, 3158, 1011, 3076, 6662, 3364], _21='Yone', _22=[3026, 3006, 3031, 6673, 3033, 1031, 3340])

In [ ]:
team1_win=champion[champion["team1.win"]==True].count().iloc[0]
team2_win=champion[champion["team2.win"]==True].count().iloc[0]
team1_win

1

In [ ]:
team1_win=champion[champion["team1.win"]==True]
team2_win=champion[champion["team2.win"]==True]
frames = [team1_win, team2_win]

result = pd.concat(frames)
result

,team1.win,team1.composition.champion1,team1.composition.champion1_items,team1.composition.champion2,team1.composition.champion2_items,team1.composition.champion3,team1.composition.champion3_items,team1.composition.champion4,team1.composition.champion4_items,team1.composition.champion5,...,team2.composition.champion6,team2.composition.champion6_items,team2.composition.champion7,team2.composition.champion7_items,team2.composition.champion8,team2.composition.champion8_items,team2.composition.champion9,team2.composition.champion9_items,team2.composition.champion10,team2.composition.champion10_items
30,True,Nami,"[3851, 6617, 3070, 2422, 0, 0, 3364]",Ezreal,"[1055, 6632, 3070, 3133, 3158, 0, 3340]",Syndra,"[1056, 3158, 3070, 1026, 3802, 0, 3340]",Nidalee,"[3145, 3020, 1028, 1026, 0, 0, 3364]",Yone,...,Karma,"[3158, 2065, 3851, 2055, 2031, 3916, 3364]",KogMaw,"[1055, 3006, 3091, 3086, 1042, 1042, 3340]",Ekko,"[3111, 2033, 1082, 3152, 3057, 1052, 3340]",Volibear,"[0, 3111, 1042, 1042, 6632, 1026, 3364]",Camille,"[1055, 1083, 2031, 3078, 1036, 2422, 3340]"
0,False,Blitzcrank,"[3190, 2055, 3860, 3076, 3047, 0, 3364]",Kaisa,"[3006, 2031, 6671, 6676, 3123, 3086, 3363]",Ryze,"[3040, 2420, 6656, 3020, 1029, 2055, 3363]",Sejuani,"[6662, 2031, 2055, 3047, 1029, 8001, 3364]",Gangplank,...,Sona,"[3158, 6617, 1052, 3853, 2055, 1004, 3364]",Draven,"[0, 0, 0, 0, 0, 0, 3363]",Kayle,"[3115, 3111, 0, 1055, 1028, 0, 3340]",RekSai,"[3111, 2031, 3814, 1028, 0, 6693, 3364]",Yone,"[2031, 3006, 3086, 1054, 6673, 1018, 3340]"
13,False,Bard,"[3111, 3157, 4005, 3853, 3067, 2055, 3364]",Ezreal,"[3110, 3042, 3140, 3158, 6694, 6632, 3363]",Ryze,"[3040, 6656, 3157, 3158, 3165, 2055, 3363]",Khazix,"[3158, 3140, 1037, 6691, 3814, 6695, 3364]",Viego,...,Leona,"[2055, 3190, 8001, 3857, 1028, 3111, 3364]",Twitch,"[3006, 6671, 6676, 3036, 1037, 1018, 3363]",Pyke,"[3814, 3134, 6333, 3047, 6691, 6695, 3364]",Skarner,"[8001, 3742, 3158, 1011, 3076, 6662, 3364]",Yone,"[3026, 3006, 3031, 6673, 3033, 1031, 3340]"
18,False,Brand,"[1026, 6653, 3853, 4637, 3020, 3916, 3364]",Twitch,"[6676, 6671, 2420, 3031, 3036, 3006, 3363]",Leblanc,"[6655, 0, 3041, 3089, 3135, 3020, 3364]",Sejuani,"[3083, 3110, 0, 3158, 6662, 3075, 3364]",Camille,...,Blitzcrank,"[3860, 2065, 3109, 4643, 3107, 3009, 3364]",Ezreal,"[1029, 3042, 6694, 3074, 6632, 3158, 3363]",Yone,"[3091, 6673, 3111, 3031, 3082, 1029, 3363]",Trundle,"[6632, 3748, 3211, 0, 3111, 3083, 3364]",Pantheon,"[6630, 2421, 3053, 3111, 3153, 1029, 3363]"

In [ ]:
if team1_win > team2_win :
    print("Team1 will win")
elif team1_win < team2_win :
    print("Team2 will win")

ValueError: Can only compare identically-labeled DataFrame objects

TypeError: cannot concatenate object of type '<class 'numpy.int64'>'; only Series and DataFrame objs are valid